.color {
	color: blue;
}

.big {
	font-size: 4em;
}

.solid {
	border: 2px dotted green;
}

.round {
	border: 2px dotted green;
	border-radius: 25px;
}

.conclusion {
	font-style: italic;
	font-weight: bold;
}

.introduction {
	font-weight: bold;
}

.button-group {
	display: inline-block;
}